<!-- razor view block of code with Tiyle -->
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-9">
        <!-- single item properties-->
        <div class="product-info">
            <img src="~/images/Hp_Omen.jpg" />
            <h3>Hp Omen</h3>
            <ul class="product-props">
                <li>Price: $9.99</li>
                <li>Model: Gaming Laptop</li>

                <li>Hard Disk: 1TB</li>
            </ul>
            <!-- items buying button-->
            <button id="buyButton">Buy</button>

        </div>
        <div class="col-md-3" id="product-test">
            <p>Shop Until you Hop with Simiyu Mall Vouchers</p>
        </div>



        <!-- applications contact form-->
        <div id="contactForm">
            <form>
                <label>Your Name:</label>
                <br />
                <input />
                <br />
                <label>Email:</label>
                <br />
                <input type="email" />
                <br />
                <label>Subject</label>
                <br />
                <input type="text" />
                <br />
                <label>Message:</label>
                <br />
                <textarea rows="4"></textarea>
                <br />
                <!-- contact form submit button-->
                <input type="submit" value="Send Message" />
            </form>
        </div>

    </div>

    <div class="_Products">
        <div class="_Products-style" style="width: 2794px;">
            <div class="_Products-style-trnsf" style="transform: translateX(0px);">
                <div class="_Products-Item" style="width: 232px;">
                    <div data-tkid="M_14af4be3-6d0f-46c9-82c9-5747e78382cc_21.CVKE34JU7GES">
                        <a title="Flat ₹7,000 Off	" class="K6IBc- required-tracking _1kRlRX" data-widget-type="omu"
                           data-tracking-id="" target="_blank" rel="noopener noreferrer" href="/oppo-f3-gold-64-gb/p/itmff5gpyrsu2prw?pid=MOBETGZ5QQVZF6YC&amp;lid=LSTMOBETGZ5QQVZF6YCRAICFW&amp;fm=neo/merchandising&amp;iid=M_14af4be3-6d0f-46c9-82c9-5747e78382cc_21.CVKE34JU7GES&amp;ppt=Homepage&amp;ppn=Homepage&amp;otracker=hp_omu_Mid-Range+Phones_1_Flat+%E2%82%B97%2C000+Off%09_CVKE34JU7GES_6&amp;cid=CVKE34JU7GES">
                            <div class="_Products-Item-class" style="height: 200px;">
                                <div class="_Products-Item-class-1" style="height: 200px; width: 200px;">
                                    <img class="_1Nyybr  _30XEf0" alt="OPPO F3 (4 GB) (Flat ₹7,000 Off	)" src="~/images/Asus-Laptop.png">
                                </div>
                            </div>
                            <div class="_Products-Item-name">ASUS ZenBook UX430UA-DH74 Ultra-Slim</div>
                            <div class="_Products-Item-linklst">8th gen Intel Core i7 Processor,<br> 16GB DDR3, 512GB SSD,</div>
                            <div class="_Products-Item-price">Now Ksh 129,900</div>

                        </a>
                    </div>
                </div>
                <div class="_Products-Item" style="width: 232px;">
                    <div data-tkid="M_14af4be3-6d0f-46c9-82c9-5747e78382cc_21.XWOYVFQNXX55">
                        <a title="Flat ₹2,000 Off	" class="K6IBc- required-tracking _1kRlRX" data-widget-type="omu"
                           data-tracking-id="1" target="_blank" rel="noopener noreferrer" href="/mi-max-2-black-64-gb/p/itmevkftufr4d5e2?pid=MOBEVKFTCFFU2FE7&amp;lid=LSTMOBEVKFTCFFU2FE7DY06NZ&amp;fm=neo/merchandising&amp;iid=M_14af4be3-6d0f-46c9-82c9-5747e78382cc_21.XWOYVFQNXX55&amp;ppt=Homepage&amp;ppn=Homepage&amp;otracker=hp_omu_Mid-Range+Phones_2_Flat+%E2%82%B92%2C000+Off%09_XWOYVFQNXX55_6&amp;cid=XWOYVFQNXX55">
                            <div class="_Products-Item-class" style="height: 200px;">
                                <div class="_Products-Item-class-1" style="height: 200px; width: 200px;">
                                    <img class="_1Nyybr  _30XEf0" alt="Mi Max 2 (Black) (4GB/64GB) (Flat ₹2,000 Off	)"
                                         src="~/images/HP Spectre x360 - 15-bl075nr.png">
                                </div>
                            </div>
                            <div class="_Products-Item-name">HP Spectre x360 15" 2-in-1 Premium 4K </div>
                            <div class="_Products-Item-linklst">8th Gen i7 Quad Core Processor,<br /> Nvidia MX150 512GB SSD|16GB RAM|WIN 10 HOME  </div>
                            <div class="_Products-Item-price">Now Ksh 214,999</div>

                        </a>
                    </div>
                </div>
                <div class="_Products-Item" style="width: 232px;">
                    <div data-tkid="M_14af4be3-6d0f-46c9-82c9-5747e78382cc_21.1RSR42XYHN9R">
                        <a title="20MP Front Camera" class="K6IBc- required-tracking _1kRlRX" data-widget-type="omu"
                           data-tracking-id="2" target="_blank" rel="noopener noreferrer" href="/vivo-v5s-perfect-selfie-matte-black-64-gb/p/itmevkbehzw7hg7g?pid=MOBET84R9EKSF57H&amp;lid=LSTMOBET84R9EKSF57HDGQV2O&amp;fm=neo/merchandising&amp;iid=M_14af4be3-6d0f-46c9-82c9-5747e78382cc_21.1RSR42XYHN9R&amp;ppt=Homepage&amp;ppn=Homepage&amp;otracker=hp_omu_Mid-Range+Phones_3_20MP+Front+Camera_1RSR42XYHN9R_6&amp;cid=1RSR42XYHN9R">
                            <div class="_Products-Item-class" style="height: 200px;">
                                <div class="_Products-Item-class-1" style="height: 200px; width: 200px;">
                                    <img class="_1Nyybr  _30XEf0" alt="VIVO V5s (Black) (20MP Front Camera)" src="~/images/Microsoft_Surface_Pro2.png">
                                </div>
                            </div>
                            <div class="_Products-Item-name">Microsoft Surface Book 2 </div>
                            <div class="_Products-Item-linklst">Intel Core i7, 16GB RAM, 512GB</div>
                            <div class="_Products-Item-price">Now Ksh 259,090</div>

                        </a>
                    </div>
                </div>
                <div class="_Products-Item" style="width: 232px;">
                    <div data-tkid="M_14af4be3-6d0f-46c9-82c9-5747e78382cc_21.QKQW8YCPFG3L">
                        <a title="Extra ₹1,000 On Exch." class="K6IBc- required-tracking _1kRlRX" data-widget-type="omu"
                           data-tracking-id="3" href="/mobiles/~vivo-y69/pr?sid=tyy%2C4io&amp;fm=neo/merchandising&amp;iid=M_14af4be3-6d0f-46c9-82c9-5747e78382cc_21.QKQW8YCPFG3L&amp;ppt=Homepage&amp;ppn=Homepage&amp;otracker=hp_omu_Mid-Range+Phones_4_Extra+%E2%82%B91%2C000+On+Exch._QKQW8YCPFG3L_6&amp;cid=QKQW8YCPFG3L">
                            <div class="_Products-Item-class" style="height: 200px;">
                                <div class="_Products-Item-class-1" style="height: 200px; width: 200px;">
                                    <img class="_1Nyybr  _30XEf0" alt="VIVO Y69 (Extra ₹1,000 On Exch.)" src="~/images/Macbook-PNG-Image.png">
                                </div>
                            </div>
                            <div class="_Products-Item-name">Apple 13.3" MacBook Air</div>
                            <div class="_Products-Item-linklst">1.8 GHz Intel Core i5 Dual-Core 8GB of <br />1600 MHz LPDDR3 RAM | 128GB SSD</div>
                            <div class="_Products-Item-price">Now Ksh 83,990</div>

                        </a>
                    </div>
                </div>
                <div class="_Products-Item" style="width: 232px;">
                    <div data-tkid="M_14af4be3-6d0f-46c9-82c9-5747e78382cc_21.TXVNDGXD0YHB">
                        <a title="Flat ₹3,300 Off" class="K6IBc- required-tracking _1kRlRX" data-widget-type="omu"
                           data-tracking-id="4" target="_blank" rel="noopener noreferrer" href="/nokia-5-tempered-blue-16-gb/p/itmevr8x9sumspzf?pid=MOBEZ25BYAHPZKAW&amp;lid=LSTMOBEZ25BYAHPZKAWZEMDZW&amp;fm=neo/merchandising&amp;iid=M_14af4be3-6d0f-46c9-82c9-5747e78382cc_21.TXVNDGXD0YHB&amp;ppt=Homepage&amp;ppn=Homepage&amp;otracker=hp_omu_Mid-Range+Phones_5_Flat+%E2%82%B93%2C300+Off_TXVNDGXD0YHB_6&amp;cid=TXVNDGXD0YHB">
                            <div class="_Products-Item-class" style="height: 200px;">
                                <div class="_Products-Item-class-1" style="height: 200px; width: 200px;">
                                    <img class="_1Nyybr _30XEf0" alt="Nokia 5 (Tempered Blue) (Flat ₹3,300 Off)"
                                         src="~/images/Lenovo_2018.png">
                                </div>
                            </div>
                            <div class="_Products-Item-name">Lenovo Yoga 710-15 - 15.6</div>
                            <div class="_Products-Item-linklst">7th Gen Core i5-7200U - 8GB Ram - 256GB SSD - Black</div>
                            <div class="_Products-Item-price">Now Ksh 61,999</div>

                        </a>
                    </div>
                </div>



                <div class="_Products-Item" style="width: 232px;">

                </div>


            </div>
        </div>
       
    </div>

</div>