<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Simiyu Mall: @ViewBag.Title</title>

    <!-- application external style sheet loadings-->
    <link href="~/css/Images.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>Shop till you hop with Simiyu Mall Vouchers</h1>
        <menu>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/app/contact">Contact</a></li>
                <li><a href="/app/about">About</a></li>
            </ul>
        </menu>
    </header>
    <section>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>

    <footer>
        Copyright 2018 Simiyu Mall Code
    </footer>

    <!-- third party javascript libraries-->
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>

    <!-- external javascript file loading-->
    <script src="~/js/index.js"></script>

</body>
</html>

