body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit] {
    width: auto;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

label {
    font-size: 16px;
}

/*
div.items-info img {
    width: 10%;
    height: auto;
}
*/

/* back ground color for our contact form*/
#contactForm {
    background-color: thistle
}

      /* contact form submit button style properties*/   
      #contactForm input[type=submit] {
      background-color: forestgreen;
      color: white;
    }
/* item properties styling*/
ul.items props {
    font-size: small;
}
    ul.items props li {
        list-style-type: none;
    }
.items-info {
    border: 1px solid grey;
    display: inline-block;
    padding: 8px 3px;
    margin: 3px;
    width: 450px;
    border-radius: 5px;
}
      /* item images styling*/
      .items-info img {
        margin: 3px;
        float: left;
        max-width: 300px;
    }


